@using Microsoft.AspNetCore.Identity


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Users/Logout" asp-route-returnUrl="@Url.Action("Login", "Users", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-area="" asp-page="/Users/List" title="Manage">Bem vindo, @UserManager.GetUserName(User)!</a> 
            </li>
            <li>
                <a asp-area="" asp-controller="Users" asp-action="List">Listar</a>
            </li>
            <li>
                <a asp-area="" asp-controller="Users" asp-action="Logout">Sair</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Users" asp-action="Register">Cadastrar</a></li>
        <li><a asp-area="" asp-controller="Users" asp-action="Login">Entrar</a></li>
    </ul>
}